<div class="w-screen h-screen px-6">
  <div class="h-[20%] m-6 flex justify-center items-center">
    <div
      class="w-[70%] h-[100%] flex flex-row justify-center items-center rounded-md gap-4 bg-slate-200"
    >
      <input
        class="w-[40%] py-3 px-2 rounded-lg border-2 border-slate-500 focus:border-blue-500 outline-none duration-150 ease-in-out"
        type="text"
        placeholder="Busca tu Gif favorito"
        [formControl]="gifABuscar"
        (change)="buscarElGif()"
        (keydown.enter)="buscarElGif()"
      />
      <button
        class="px-10 py-1 rounded-md bg-gray-50 shadow-lg hover:shadow-sm hover:bg-slate-300 duration-150 ease-in-out"
      >
        Buscar
      </button>
      <button (click)="obtenerGifSinParametro()">
        <app-limpiar-filtro />
      </button>
    </div>
  </div>
  @if(estadoConsulta() === 'cargando'){
  <app-loading-skeleton />
  } @if(estadoConsulta() === 'consultado'){
  <div class="flex justify-center items-center w-[100%]">
    <ul class="grid grid-cols-3 gap-5">
      @for (gif of gifs(); track gif) {
      <app-gif-cards [gif]="gif" />
      }
    </ul>
  </div>
  }
</div>
